.mission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
    font-size: 1.6em;
    color: rgba($color: #7fa8dd, $alpha: 1.0)
}

.statement {
    display: flex;
    
    p{
        width: 50vw;
        color: rgba($color: #353535, $alpha: 1.0);
        font-size: 1em;
    }
    span {
        float: left;
        width: 15vw;
        font-size: 1.3em;
    }

}